<tr>
	<td class="col-4">
		<input type="checkbox" />
	</td>
	<td class="col-4">
		@Product.ProductName
	</td>
	<td class="col-4">
		<span><b>@Product.ProductType.ProductTypeName</b></span>
	</td>
</tr>
