<div @ref="modalRef" class="modal fade" id="@ModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        @ModalTitle
      </div>
      <div class="modal-body">
        @ModalContent
      </div>
      <div class="modal-footer">
        @ModalFooter
      </div>
    </div>
  </div>
</div>